.gitignore_bkp
nbproject/
html/
latex/
lib/
bin/
Align2/Sources/*.o
Align2/Sources/*.a
Align2/APPS/*.o
Align2/APPS/*.a
Align2/Tests/*.a
Align2/Tests/*.o
Biopool/data/
Biopool/Sources/*.o
Biopool/Sources/*.a
Biopool/APPS/*.o
Biopool/APPS/*.a
Biopool/Tests/*.a
Biopool/Tests/*.o
Energy/data/
Energy/Sources/*.o
Energy/Sources/*.a
Energy/Sources/*.lt
Energy/Sources/TorsionPotential/*.o
Energy/Sources/TorsionPotential/*.a
Energy/Sources/TorsionPotential/*.lt
Energy/APPS/*.o
Energy/APPS/*.a
Energy/APPS/*.lt
Energy/Tests/*.a
Energy/Tests/*.o
Lobo/data/
Lobo/APPS/*.o
Lobo/APPS/*.a
Lobo/APPS/loboAuto_all
Lobo/APPS/loboLUT_all
Lobo/Sources/*.o
Lobo/Sources/*.a
Lobo/Tests/*.a
Lobo/Tests/*.o
tools/*.o
tools/*.a
tools/Depend